.container {
  max-width: 50rem;
  margin: 1rem auto;
  //background-color: red;
  //border: 1px solid black;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
  padding-bottom: 2.5rem;
}

.writeBtn{
  width: 3rem;
  height: 3rem;
  float:right;
  margin-bottom: 0.5rem;
}

.com_tab{
  border-collapse:collapse;
  //border: 1px solid black;
  width: 100%;
}

.com_tab tr{
  //background-color: red;
  border-bottom: 1px solid #DDDDDD;
  height: 2.5rem;
}

.com_tab thead {
  border-top: 2px solid #CCCCCC;
  border-bottom: 1px solid #DDDDDD;
}

.num{
  width: 7%;
  height: 2.5rem;
  //border-right: 1px dotted gray;
}

.title{
  width: 55%;
  //border-right: 1px dotted gray;
}

.commentNum {
  color: blue;
  font-size: 90%;
}

.writer{
  width: 20%;
  //border-right: 1px dotted gray;
}

.datetime{
  width: 13%;
}

.titleList {
  padding-left: 2rem;
  text-align: left;
}

.numList {
  padding-right: 0.6rem;
}
