.container {
  max-width: 40rem;
  margin: 1rem auto;
  //background-color: gray;
  //border: 1px solid black;
  margin-top: 5rem;
  padding: 3rem;
  padding-bottom: 2.5rem;
}

.com_title {

}

.com_content {

}
