.container {
  max-width: 40rem;
  margin: 1rem auto;
  /*background-color: gray;*/
  /*border: 1px solid black;*/
  margin-top: 5rem;
  padding: 0.1rem 3rem 2.5rem 3rem;
}

.comr_tab{
  width:100%;
}

.backBtn {
  margin:1rem;
  width:3rem;
  height:3rem;
  float:left;
  cursor:pointer;
}

.writeBtn {
  margin:1rem;
  width:3rem;
  height:3rem;
  float:right;
  cursor:pointer;
}

.comr_title {
  padding: 1rem 1rem 1rem 2rem;
  font-size: 1.2rem;
  border-top: 2px solid gray;
  border-bottom: 1px solid gray;
}
.comr_createdBy {
  float:right;
}

.comr_content {
  padding: 1rem 1rem 1rem 2rem;
  font-size: 1rem;
  height: 15rem;    /*게시판 내용 높이*/
  vertical-align: top; /*테이블의상단으로 정렬*/
}

.comr_comm { /*댓글 갯수*/
  color: #4646CD;
  padding: 1rem 1rem 1rem 2rem;
}

.comr_comdiv {
  padding: 1rem 1.5rem 3rem 1.5rem;
  background-color: #EEEEEE;
}

.comr_comdiv_div {
  padding:0.5rem;
}

.comr_comdiv_div_div{
  margin-bottom: 0.4rem;
}

.comr_comm_hr {
  border:none;
  border-bottom: 1px dotted black;
}

.comr_comment_writer {
  font-weight: bold;
}

.comr_comment_datetime {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.comr_comment_content {
  font-size:0.9rem;
}

.comr_commWriteWrapper {
  margin-top:1rem;
}

.comr_txtarea {
  padding: 0.5rem;
  width: 28rem;
  height: 4rem;
  font-size: 1rem;
}

.comr_commWriteBtn {
  padding: 1rem;
  float:right;
  width: 6rem;
  height: 5rem;
  font-size: 1rem;
  background-color: #FFFFFF;
  cursor:pointer;
}
