.container {
  max-width: 50rem;
  margin: 1rem auto;
  //background-color: red;
  //border: 1px solid black;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
  padding-bottom: 2.5rem;
}

.header {
  font-size: 5rem;
  color:gray;
  font-weight:bold;
  font-family: monospace;
  margin:2rem;
  text-shadow: 1px 1px #FFFFFF;
  opacity: 0.8;
}


.searchForm {
  width: 18rem;
  height: 3rem;
  background: #2b303b;
  border: none;
  font-size: 1.5rem;
  color: #63717f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 7px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  font-family: sans-serif;
  text-align: center;
  padding: 0rem;
  opacity: 0.8;
}

.searchBtn {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: -0.9rem;
  opacity: 0.6;
}

.searchBtn:hover {
  cursor:pointer;
}

.title_field {
  /*padding-top: 10rem;*/
}

.video_background {
  background: #000;
  position: fixed;
  top: -7.5%; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video_foreground,
.video_background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}