.container {
  max-width: 50rem;
  margin: 1rem auto;
  //background-color: red;
  //border: 1px solid black;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
  padding-bottom: 2.5rem;
}

.header {
  font-size: 5rem;
  color:gray;
  font-weight:bold;
  font-family: monospace;
  margin:2rem;
}

.searchForm {
  width: 18rem;
  height: 3rem;
  background: #2b303b;
  border: none;
  font-size: 1.5rem;
  color: #63717f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 7px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  font-family: sans-serif;
  text-align: center;
  padding: 0rem;
}

.searchBtn {
  width: 1.7rem;
  height: 1.7rem;
  vertical-align: text-bottom;
}
