.top {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  background-color: #333333;
  width: 100%;
}

.topMenu {
  padding: 1rem;
  font-size: 1.7rem;
  float:right;
  color: white;
  //border: 1px solid white;
}
