.container {
  max-width: 40rem;
  margin: 1rem auto;
  background-color: gray;
  border: 1px solid black;
  margin-top: 5rem;
  padding: 3rem;
  padding-bottom: 2.5rem;
}

.header {
  font-size: 5rem;
  color:gray;
  font-weight:bold;
  font-family: monospace;
  margin:2rem;
}

.nickname{
  padding-left: 2rem;
}

textarea {
  padding: 0.5rem;
  width: 30rem;
  height: 5rem;
  background: #aaaaaf;
  border: none;
  font-size: 1rem;
  color: #33314f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 7px;
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-family: sans-serif;
}

.submitBtn {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
}

.tab{
  margin-top: 3rem;
}

table {
  border: 1px solid black;
  width: 37rem;
  text-align: center;
}
table tr:nth-child(1) td:nth-child(1){
  width: 2rem;
  border: 1px solid black;
  text-align: left;
  padding-left: 1rem;
}
table tr:nth-child(1) td:nth-child(2){
  width: 4rem;
  border: 1px solid black;
  text-align: right;
  padding-right: 1rem;
}

table tr:nth-child(2) td:nth-child(1){
    text-align: left;
    padding-left: 1rem;
    border: 1px solid black;
}

.num {
  width: 2rem;
}

.writer {
  width: 4rem;
}

.content {
  width: 20rem;
}


.date {
  width: 5rem;
}

.cnt {
  width: 2rem;
}
