.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6rem;
  background-color: #555555;
  width: 100%;
  text-align: center;
}

.footMenu {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.info_title {
  font-size: 1.7rem;
}

.info_blue {
  color: deepskyblue;
}

.info_red {
  color:palevioletred;
}

.container {
  padding: 2rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  //border:1px solid black;
  text-align: center;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
  font-family: sans-serif;
  color: #637777;
  text-shadow: 1px 1px #FFFFFF;
}

.box {
  display: inline-block;
  width: 15rem;
  height: 11rem;
  margin: 0.7rem;

  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /*background-color: white;*/
  text-align: center;
  text-shadow: 1px 1px #637777;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0.7rem;
}

.date {
  font-size: 1.5rem;
}

.teamName {
  font-size: 2rem;
  margin-bottom: 1rem;
  color:#003366;
}

.info_status {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color:#333366;
}

.team {
  font-size: 20px;

}

.arrowRight {
  width: 3rem;
  height: 3rem;
  vertical-align:middle;
  margin-bottom: 0rem;
  margin-left: 0.7rem;
}

.arrowLeft {
  transform: rotate(180deg);
  width: 3rem;
  height: 3rem;
  vertical-align:middle;
  margin-bottom: 0rem;
  margin-right: 0.7rem;
}

.nomsg {
  font-size:1.2rem;
  color: #637777;
}

.detail {
  margin: 2rem;
}

.info_cursor {
  font-size: 1.5rem;
  color:#210022;
}

.info_cursor:hover {
  cursor:pointer;
  text-decoration: underline;
  font-weight: bold;
}
